<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<%= render partial: "shared/weight_sliders" %>

<section class="map-navigation">
  <%= render partial: 'map_nav_list' %>
</section>

<div class="map_wrapper">
  <%= render partial: 'map' %>
</div>

<script>
  $(document).ready(function() {
    initMap('<%= escape_javascript(@data.to_json.html_safe) %>', '<%= escape_javascript(@current_category.titleize)%>');
  });
</script>
