<% content_for :filter_modal_header, flush: true do %>
  <h3>How much does each category matter?</h3>
  <!-- <p>Higher numbers give a category more weight. Weights are relative to each other. Giving every category a weight of 5 will produce the same result as giving every category a weight of 1.</p> -->
<% end %>

<% content_for :filter_modal_body, flush: true do %>
  <%= f.fields_for :weights do |w| %>
    <% @categories.each do |category| %>
      <div class="category_switch_wrapper clearfix">
        <div class="switch_label_wrapper">
          <%= category.titleize %>
        </div>

        <div class="switch_wrapper">
        <div class="input-group">
          <%= w.range_field "#{category}_value".to_sym, :min=>0, :max=>10, :class=>"form-control", :id=>"#{category}_slider", list: "slidersettings", autocomplete: "off", onchange: "rangePrimary#{category}.value=value"%>
          <output class="input-group-addon" id=<%= "rangePrimary#{category}" %> >5</output>
        </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <datalist id=<"slidersettings">
    <option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </datalist>

  <script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
  </script>
<% end %>

<% content_for :filter_modal_footer, flush: true do %>
  <%= link_to "Cancel", :back %>
  <%= f.submit "Apply", class: "filter-button", id: "submit-filter-button" %>
<% end %>
