<%= form_for :category_weights, url: overall_rank_path, class: "container form-horizontal", remote: true do |f| %>

  <% @categories.each do |category| %>
    <div class="form-group">
      <label for=<%= "#{category}_slider" %> class="col-md-6 control-label"><%= category.titleize %></label>
      <div class="input-group col-md-6">
        <%= f.range_field "#{category}_value".to_sym, :min=>0, :max=>10, :class=>"form-control", :id=>"#{category}_slider", list: "slidersettings", autocomplete: "off", onchange: "rangePrimary#{category}.value=value"%>

        <output class="input-group-addon" id=<%= "rangePrimary#{category}" %> >5</output>
      </div>
    </div>
  <% end %>

  <datalist id=<"slidersettings">
    <option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </datalist>

  <%= f.submit "Get Overall Rank", class: "btn btn-primary", remote: true %>
<% end %>


<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
