
<table class="table table-bordered table-striped datatable" id="countries-table">
  <thead>
    <td class="name">Name</td>
    <td class="code">Country Code</td>
    <td>Population</td>
    <td>Cost of Living Rank</td>
    <td>Life Satisfaction Rank</td>
    <td>Freedom of Press Rank</td>
    <td>Education Rank</td>
    <td>Overall Score</td>
  </thead>

  <tbody>
    <% @countries.each do |c| %>
    <tr class="country">
      <td class="name"><%= link_to c.name, country_path(c.id) %></td>
      <td class="code"><%= c.country_code %></td>
      <td><%= number_with_delimiter(c.population, :delimiter => ',') %></td>

      <td><%= c.cost_of_living_score || "N/A" %></td>
      <td><%= c.life_satisfaction_score || "N/A" %></td>
      <td><%= c.freedom_of_press_score || "N/A" %></td>
      <td><%= c.education_score || "N/A" %></td>
      <td><%= overall_score(c.name, @current_results) || "N/A" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>

<script>
var numbersType = $.fn.dataTable.absoluteOrderNumber([{
  value: 'N/A',
  position: 'bottom'
}]);

$('.datatable').dataTable({
  order: [[ 7, "asc" ]],
  columnDefs: [{
    type: numbersType,
    targets: [2, 3, 4, 5, 6, 7]
  }]
});


</script>
