<div class="row">
  <section class="scraper_buttons col-md-8 col-md-offset-2">
    <header><h4>Scrape Data</h4></header>
    <div class="col-md-4">
      <%= link_to "Satisfaction Data", scrape_satisfaction_data_path, class:"btn btn-primary" %>
      <%= link_to "GPS Data", scrape_gps_data_path, class:"btn btn-primary"%>
      <%= link_to "Country Code", scrape_code_data_path, class:"btn btn-primary"%>
      <%= link_to "Cost of Living Data", scrape_cost_of_living_data_path, class:"btn btn-primary" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Math Rank Data", {controller: "countries", action: "scrape_education_data", subject: "math_rank"}, class:"btn btn-primary" %>
      <%= link_to "Reading Rank Data", {controller: "countries", action: "scrape_education_data", subject: "reading_rank"}, class:"btn btn-primary" %>
      <%= link_to "Science Rank Data", {controller: "countries", action: "scrape_education_data", subject: "science_rank"}, class:"btn btn-primary" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Suicide Data", {controller: "countries", action: "scrape_education_data", subject: "math_rank"}, class:"btn btn-primary" %>
      <%= link_to "Freedom of Press Data", {controller: "countries", action: "scrape_freedom_of_press_data"}, class:"btn btn-primary" %>
      <%= link_to "Natural Disaster Data", {controller: "countries", action: "scrape_education_data", subject: "science_rank"}, class:"btn btn-primary" %>
    </div>
  </section>
</div>

<div class="row">
  <section class="data_entry_form">
    <div class="col-md-8 col-md-offset-2">
      <h4>Enter Data By Hand</h4>
      <%= form_for @country, url: { action: "create" } do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :population %>
          <%= f.number_field :population, step: 1, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :cost_of_living_rank %>
          <%= f.number_field :cost_of_living_rank, step: 1, class: "form-control" %>
          <small class="help-block">From Numbeo's 2017 ranking</small><br>
        </div>

        <div class="form-group">
          <%= f.label :life_satisfaction_rank %>
          <%= f.number_field :life_satisfaction_rank, step: 1, class: "form-control" %>
          <small class="help-block">Out of 36 countries, from <a href="http://www.oecdbetterlifeindex.org/topics/life-satisfaction/">oecd</a></small><br>
        </div>

        <div class="form-group">
          <%= f.label :latitude %>
          <%= f.number_field :latitude, step: 0.000001, class: "form-control" %>
          <small class="help-block">Lat and Long of a major city in the country</small><br>
        </div>

        <div class="form-group">
          <%= f.label :longitude %>
          <%= f.number_field :longitude, step: 0.000001, class: "form-control" %>
        </div>

        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
</div>
