<!DOCTYPE html>
<html>
<head>
  <title>Howtoliveapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav class="navbar navbar-default" >
      <ul class="nav navbar-nav">
        <li><%= link_to "New", new_country_path %></li>
        <li><%= link_to "Table", countries_path %></li>
        <li><%= link_to "Map", maps_path %></li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
